spring:
  data:
    redis:
      host: redis
      port: 6379
      timeout: 5000ms
    mongodb:
      uri: mongodb://root:password@mongo:27017/notificationdb
      database: notificationdb
      auto-index-creation: true
      repositories:
        enabled: true
  kafka:
    bootstrap-servers: kafka:9092

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka-server:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true
  instance:
    hostname: notification-service
    preferIpAddress: false
    
app:
  user-service:
    url: http://user-service:8080
  grpc:
    user-service:
      host: user-service
      port: 9090
