server:
  port: 8081

spring:
  application:
    name: auth-service
  profiles:
    active: dev
  jpa:
    open-in-view: false
    hibernate:
      properties:
        hibernate.format_sql: true
        hibernate.highlight_sql: true
        hibernate.show_sql: false
        hibernate.jdbc.time_zone: UTC
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true

  

  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      retries: 3
      acks: all
      properties:
        linger.ms: 5
    consumer:
      group-id: auth-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
    properties:
      spring.json.trusted.packages: "*"
    listener:
      ack-mode: record


springdoc:
  api-docs:
    path: /openapi
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
  health:
    db:
      enabled: true
    kafka:
      enabled: true

jwt:
  refresh-token-expiration: 604800000  # 7 дней в миллисекундах
  cookie-name: refreshToken
  cookie-secure: true  # true для production (HTTPS), false для dev
  cookie-http-only: true
  cookie-same-site: strict
  cleanup-cron: "0 0 2 * * ?"  # Каждый день в 2:00 утра

